.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-right: 1rem;
  margin-left: 1rem;
}
.feature img {
  width: 250px;
  height: 300px;
}
.feature h4 {
  color: #fff;
  margin-top: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.feature p {
  color: #9394af;
  /* max-width: 300px; */
  text-align: center;
  margin: 10px;
  font-family: "DM Sans";
}
@media screen and (max-width: 820px) {
  .feature {
    margin-bottom: 1rem;
  }
}
